{%  extends "base.html" %}

{% block inhalt %}

    <h2>Produkte</h2>

   {% if page is defined and max is defined %}
    <nav aria-label="...">
        <ul class="pagination">
        <li class="page-item {% if page < 2 %}disabled{% endif %}">
          <a class="page-link" href="produkte?page={{ page - 1 }}">Previous</a>
        </li>
        {% if page >= 2 %}
        <li class="page-item"><a class="page-link" href="produkte?page={{ page - 1 }}">{{ page - 1 }}</a></li>
        {% endif %}
        <li class="page-item active">
          <a class="page-link" href="produkte?page={{ page }}" aria-current="page">{{ page }}</a>
        </li>
        {% if page < max %}
        <li class="page-item"><a class="page-link" href="produkte?page={{ page + 1 }}">{{ page + 1}}</a></li>
        {% endif %}
        <li class="page-item {% if page >= max %}disabled{% endif %}">
          <a class="page-link" href="produkte?page={{ page + 1 }}">Next</a>
        </li>
        </ul>
    </nav>
    {% endif %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Produkt-ID</th>
          <th scope="col">Titel</th>
          <th scope="col">Beschreibung</th>
          <th scope="col">Preis</th>
        </tr>
      </thead>
      <tbody>

    {% for prod in products %}
      <tr>
          <th scope="row">{{ prod.product_id }}</th>
          <td><a href="/produkte/{{ prod.product_id }}">{{ prod.title }}</a></td>
          <td>{{ prod.description }}</td>
          <td>{{ "%.2f"|format(prod.price) }} € {% if prod.is_sale==True %} <span class="badge rounded-pill text-bg-dark">Sale!</span>{% endif %}</td>
        </tr>

    {% endfor %}

      </tbody>
    </table>

{% endblock %}