{%  extends "base.html" %}

{% block inhalt %}

    <h1>Produkte (über Template)</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>

    {% for prod in products %}
      <tr>
          <th scope="row">{{ prod.product_id }}</th>
          <td><a href="/produkte/{{ prod.product_id }}">{{ prod.title }}</a></td>
          <td>{{ prod.description }}</td>
          <td>{{ prod.price }} {% if prod.is_sale==True %} <span class="badge rounded-pill text-bg-dark">Sale!</span>{% endif %}</td>
        </tr>

    {% endfor %}

      </tbody>
    </table>

{% endblock %}