<!DOCTYPE html>
<html>
    <head>
        <title>AGWI 22.5.25</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>

        <h1>AGWI ist super (heute schon mit Templates)</h1>
        <h2 class="wichtig">Erster Grund</h2>
        <p>Ist nicht kompliziert.</p>
        <p>Zweiter Absatz. </p>
        <h2>Zweiter Grund</h2>
        <p>Weil halt!
            <a href="/test0815">Hier</a>
           geht es zur Testseite
        </p>
        <p>Und
            <a href="http://www.zalando.de">Zalando</a>
            ist auch aufrufbar.
        </p>

        <div id="details">
            <p>
                <a href="http://de.wikipedia.org/wiki/Katzen">
                    <img src="https://wallpapers.com/images/hd/cute-cat-pictures-cd92rtzsrel4rtwm.jpg" width="150px"></img>
                </a>

                <img src="static/tree.jpg"></img>
            </p>

            <p>
                <a href="/produkte">Hier geht es zu den Produkten</a>
            </p>
        </div>

        <p class="wichtig">
            Registrierung:
            <a href="/user">Hier neu registrieren</a>
        </p>

    </body>
</html>