{% extends "base.html" %}
{% block inhalt %}

    <!-- Quelle: https://getbootstrap.com/docs/5.3/forms/overview/ -->
    <form method="post" action="do_user_registrierung">
  <div class="mb-3">
    <label for="usernameLabel" class="form-label">Username:</label>
    <input name="username_" type="text" class="form-control" id="usernameLabel" aria-describedby="usernameHelp">
    <div id="usernameHelp" class="form-text">Geben Sie hier Ihren gewünschten Username ein.</div>
  </div>
  <div class="mb-3">
    <label for="passwordLabel" class="form-label">Passwort:</label>
    <input name="password_" type="password" class="form-control" id="passwordLabel">
  </div>
  <button type="submit" class="btn btn-primary">Jetzt registrieren</button>
</form>

{% endblock %}