{% extends "layout/base.html" %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">User Management</h2>
  <div class="table-responsive">
    <table class="table table-hover align-middle table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Last Login</th>
          <th scope="col">Role</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user, profile in users_profiles %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ profile.email }}</td>
          <td>{{ user.date_time_last_login.strftime('%Y-%m-%d %H:%M:%S') if user.date_time_last_login else 'Never' }}</td>
          <td>{{ profile.role }}</td>
          <td class="text-center">
            <a href="{{ url_for('users_role_update', id=profile.id|string) }}" class="btn btn-sm btn-warning">
              Change Role
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}